/* Gestion des Asides */
body section:nth-child(2) aside{
	float: left;
	border-right: 1px solid silver;
	margin-right: 10px;
	padding-right: 10px;
}
body section:nth-child(3) aside{
	float: right;
	border-left: 1px solid silver;
	margin-left: 10px;
	padding-left: 10px;
}
aside{
	width: 29%;
	height: 295mm;
	padding:5px;
	padding-top: 0px;
	padding-bottom:0px;
}
aside article{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 3px double silver;
}
aside article:last-child{
	border: none;
}
aside h1{
	margin-top: 0px ;
	color: gray;
	font-size: 18px;
}
