/* Gestion des flotants */
.gauche{
	float: left;
	margin-right: 5px;
}
.droite{
	float: right;
	margin-left: 5px;
}
/* Gestion des images */
.legende{
	font-size: 11px;
	text-align: center;
}

/* Définition des volets */
nav{
	padding-top:1px;
	border-top: 4px double #d2d2d2;
}
nav.volet{
	background: url('Images/teteVolet.png') no-repeat center top;
	border-bottom: 3px double #d2d2d2;
	margin-top: 1px;
}
nav.gvolet{
	background: url('Images/teteGV.png') no-repeat;
}

nav .contenu{/* Tout les contenus on ces propriétés ( volets ou main ) */
	/*background: url('Images/piedVolet.png') no-repeat bottom center;
	border-bottom: 1px solid black;
	* Optionnel si on veut fermer le volet avec une image de fond 
	* */
	padding-bottom: 10px;
}
