/* Floats */
[float=left]{
	float: left;
}
[float=right]{
	float: right;
}
[role=clear]{
	clear: both;
}
/* Colones */
[colones=yes]{
	-webkit-column-count: 2;
	column-count: 2;
	-moz-column-count: 2;
}
[colones=no]{
	-webkit-column-count: 1;
	column-count: 1;
	-moz-column-count: 1;
}
