/* Redéfinition des titres, ou styles 
 * des paragraphes etc … */
@font-face{
	font-family: OldLondon;
	src: url('Fonts/OldLondon.ttf');
}
@font-face{
	font-family: DejaVuSans;
	src: url('Fonts/DejaVuSans.ttf');
}
@font-face{
	font-family: "Auctoritas Regular";
	src: url('Fonts/Auctoritas Regular.ttf');
}
body{
	font-family: DejaVuSans;
	font-size: 14px;
}
p{
	/*font-size: 12px;*/
	text-indent:20px;
	text-align:justify;
}
article p{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

nav p{
	padding: 5px;
}

h1{
	font-size: 3em;
	text-align: center;
	font-family: "Auctoritas Regular";
	margin-bottom: 1em;
}
nav h1{
	font-size:2em; /* Taille spécifique des titres des volets */
	margin-top: 2px;
	margin-bottom: 10px;
}
aside nav h1{
	font-size: 1.3em;
}

h2{
	font-size: 2em;
	font-family: "Auctoritas Regular";
}
[role=items] h3, h2[role=item]:first-letter, #listeArticles article h2:first-letter {
	padding-left: 30px;
	background: url('Images/title.svg') no-repeat center left;
}
h3{
	font-size: 2em;
	text-align: center;
	font-family: "Auctoritas Regular";
}
[role=items] h3{
	text-align: left;
}
#culture h3{
	margin-top: 0px;
	margin-bottom: 10px;
}
ul{
	list-style-image: url('Images/list.png');
}

/* Head */
header{
	width:210mm;
	height: 113px;
	font-size: 100px;
	font-family: OldLondon;
	text-align: center;
	background: url('Images/head.svg') center center no-repeat;
}
header img{
	width: 70px;
	position: absolute;
	top: 0px;
	right: 20px;
}
