/* Head */
#head{
	width:21cm;
	height: 113px;
	background: url('Images/pompidou.png') center center no-repeat;
}


/* Définition des volets */
div.volet{
	background: url('Images/teteVolet.png') repeat-x;
	padding-top:1px;
	color: black; /* Là encore … au choix mais ça permet de 
	différentier le main des volets */
}

div.volet h1{
	font-size:16px; /* Taille spécifique des titres des volets */
}

.contenu{/* Tout les contenus on ces propriétés ( volets ou main ) */
	/*font-size: 12px;*/
	background: url('Images/piedVolet.png') repeat-x bottom;
	padding-bottom: 10px;
}
/* Définition du central */
.central{
	margin: auto; /* Centrage */
	/* Utilisation de CSS3 column */
	/*
	column-count: 2; 
	-webkit-column-count: 2;
	-moz-column-count: 2; 
	column-grap: 1em; 
	-webkit-column-gap: 1em; 
	-moz-column-gap: 1em; 
	*/
}
/* Définition du footer */
#foot{
	clear: both;
}
