.page{
	width: 210mm;
	height: 297mm;
	padding: 10px;
	margin: 0px;
	margin-bottom: 2px;
}
body{
	padding: 0px;
	margin: 0px;
}

/* Head */
#head{
	width:210mm;
	height: 113px;
	background: url('Images/pompidou.png') center center no-repeat;
}

#infoTirage{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px;
	text-align: center;
}
#infoTirage li{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}


#listeArticles .contenu{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-rule: 1px solid black;
	-moz-column-rule: 1px solid black;
	column-rule: 1px solid black;
	margin: 0px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
/* Définition du footer */
div#foot{
	width: 21cm;
	padding-top: 5px;
	margin: auto;
	border-top: 1px solid black;
	text-align: center;
	position: absolute !important;
	top:295mm !important;
}
