/* Redéfinition des titres, ou styles 
 * des paragraphes etc … */
@font-face {
	font-family: Lond;
	src: url('Fonts/OldLondon.ttf');
}
@font-face {
	font-family: DejaVuSans;
	src: url('Fonts/DejaVuSans.ttf');
}
@font-face {
	font-family: quadranta;
	src: url('Fonts/OldLondon.ttf');
}
body{
	font-family: DejaVuSans;
	font-size: 14px;
}
p{
	/*font-size: 12px;*/
	text-indent:20px;
	text-align:justify;
}
h1{
	font-size: 4em;
	text-align: center;
	font-family: quadranta;
}

h2{
	font-size: 2em;
	font-family: quadranta
}

h3{
	font-size: 2em;
	text-align: center;
	font-family: quadranta;
}	

ul{
	list-style-image: url('Images/list.png');
}
