section{
	width: 208mm;
	height: 297mm;
	margin: 0px;
	padding-left: 1mm;
	padding-right: 1mm;
}
body{
	padding: 0px;
	margin: 0px;
}

/*Info tirage*/

#infoTirage{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px;
	text-align: center;
}
#infoTirage li{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

/* Liste articles */

#listeArticles .contenu{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	margin: 0px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
/* Définition du footer */
footer{
	width: 21cm;
	padding-top: 5px;
	border-top: 1px solid black;
	position: absolute;
	top: 290mm;
	text-align: center;
}
